<!--
 *
 * Cytonn Technologies
 * @author Ndirangu Wilson <wndirangu@cytonn.com>
 * AngularJS introduction
 *
-->
<!DOCTYPE html>
<html ng-app="NetflixMovies">

<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <title>Search Netflix Movies</title>
</head>

<body>
  <h1> Search for all your movies on Netflix.</h1>
  <h3>It's time to chill.</h3>
  <!--- Declaring a controller to retrieve data from the Netflix  API--->

  <div ng-controller="retrieveMovieController as movie">
    <div class="col-md-6 ">

      <form class="form-group center" ng-submit="getItems()">

        <input class="form-control" type="text" ng-model="movie.moviename">

        <input class="search" type="submit" value="Search">

      </form>
    </div>

    <div class="row">


      <div class=" col-md-6  ">
        <p ng-repeat="key in keys"> {{key}} </p>

      </div>
      <div class=" col-md-6 ">
        <p ng-repeat="item in items"> {{item}}</p>

      </div>

    </div>

    <script src="./lib/angular.min.js"></script>
    <script src="./js/functions.js"></script>
  </div>
</body>

</html>
